.link-hover {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: scale(0) translateY(120%);
        transition: all .25s;
    }

    &:hover {
        cursor: pointer;

        &::after {
            transform: scale(1) translateY(125%);
        }
    }
}

.link_heder_hover {
    &::after {
        height: 4px;
        bottom: 0;
        transform: scale(0) translateY(0);
    }

    &:hover {
        cursor: pointer;

        &::after {
            transform: scale(1) translateY(0);
        }
    }
}
.bold {
    font-weight: 700;
}

.h2-container {
    text-align: center;

    &__title {
        font-size: 2.2rem;
    }
}
a.active {
    color: #f7b12b;
}


.bgc-fff {
    background-color: #681261;
    transition: all .25s;

}

.bgc-fff.bgc-fff-no {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all .25s;

}

#550d-none {
    display: none;
}

.social-icon-map {
    font-size: 0;
}