.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    text-align: center;


    //plashka
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__body {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: .75em 0;
    }
    &__logo {
        flex-basis: 20%;
        display: flex;
    }

    &__menu {
        flex-basis: 80%;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
    }

    &__link {
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        transition: all .45s;
        font-family: 'Montserrat', sans-serif;

        &:hover {
            cursor: pointer;
        }

    }

    &__burger {
        display: none;
    }

    &__contacts {
        flex-basis: 25%;
        display: flex;
        justify-content: space-between;
    }

    &__cell {
        color: #fff;
        font-weight: 300;
        display: inline-block;
        margin-left: .75rem;
    }
    
   

}

@media(max-width:1170px) {
    .header {
     
      
    
        &__callback {
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }
        &__cell {
            margin-left: 0; 
            margin-top: 1rem;
        }
    }
}



.logo-img {
    max-width: 8rem;
    width: 100%;
}







@media (max-width: 920px) {
    .header__list {
        position: fixed;
        z-index: 1000;
        transition: .8s;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        flex-direction: column;
        justify-content: space-around;
        overflow: auto;
        background-image: linear-gradient(248deg, #f18a87 0%, #a790ec 100%);
    }

    .menu_active {
        right: 0;
    }

    .header__body {
        padding: 1.5rem 0;
    }

    .header__logo {
        flex-basis: 30%;
    }

    .logo-img {
        max-width: 180px;
    }

    .header__burger {
        display: block;
        position: fixed;
        z-index: 1100;
        height: 25px;
        right: 25px;
        width: 25px;
    }

    .header__burger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #34bdf3;
    }

    .header__burger span:not(first-child) {
        margin-top: 3px;
    }

    .burger_active span {
        margin-bottom: -10px;
        transition: all .3s;
    }

    .burger_active span:nth-child(1) {
        transform: rotate(-45deg);
    }

    .burger_active span:nth-child(2) {
        display: none;
    }

    .burger_active span:nth-child(3) {
        transform: rotate(45deg);
        margin-top: 8px;
    }
}