.page-portfolio {
    padding-top: 3rem;
}

.portfolio {
    margin-top: 1rem;
    display: flex;
    align-items: stretch;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 10px 10px 0 #ccc;

    &__col {
        flex-basis: 33.333%;
        display: flex;
        flex-direction: column;
    }

    &__sub-col {
        display: flex;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid  #f9f9f9;
    }

    &__link {
        position: relative;
        display: block;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #f7b02bdc;
            opacity: 0;
            transition: all .25s;

        }

        &:hover {
            .portfolio_more {
                opacity: 1;
            }

            img {
                border-color: #f7b02bdc;
            }

           

            &::after {
                opacity: 1;
            }
        }
    }

    .main-btn {
           &:hover {
               background-color: #fff;
               color: #f7b02b;
               border-color: #fff;
           }
    }

}


.portfolio_more {
    @include monttserat;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.4rem;
    opacity: 0;
    transition: all .25s;


    .main-btn {
        margin-top: 1rem;
    }
}

@media(max-width:1150px) {
    .portfolio {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &__col {
            width: 100%;
        }

        &__sub-col {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .portfolio__link {
                height: 100%;
                align-self: stretch;

            }

        }


    }
}






//page-reviews

.page-reviews {
    padding: 5rem 0; 
}

//page-map 

